.container .row {
  font-family: sans-serif;
  text-align: center;
}

.heading {
  display: table;
  height: 200px;
  margin-top: 50px;
}

.heading img {
  margin-top: 80px;
  margin-right: 10px;
  display: table-cell;
  height: 40px;
  width: 40px;
}

.heading h1 {
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
  font-family: 'Bradley Hand ITC';
  font-weight: 800;
  color: #755400;
}

.survey-button {
  background-color: #ca9b26;
  text-align: center;
  margin: 5px;
  width: 200px;
  padding: 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.graydiv {
  background-color: darkgray !important;
  margin-bottom: 50px;
  cursor: pointer;
  padding: 10px;
}

.button {
  margin: 20px !important;
  background-color: #3e88f7 !important;
  color: white !important;
  padding: 0.5rem;
  width: 6rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.input-group-text {
  display: inline-flex;
}

span {
  cursor: pointer;
}

.hide {
  visibility: hidden;
}
.disable {
  pointer-events: none;
}
